@import "../../../../assets/styles/variables.scss";

.carouselItem {
  display: grid;
  grid-template-rows: 1fr 2fr;
  gap: 5px;

  width: 120px;
  height: 110px;
  margin-top: 40px;
  padding: 10px 10px;

  box-shadow: 0 -7px 0 $wth1-aqua inset, 0 7px 0 transparent inset,
    -1px 0 0 $wth1-light-gray;

  user-select: none;
  cursor: pointer;
  border: none;
  background-color: $wth1-base;

  &:hover {
    background-color: $wth1-base;
    border: none;
    box-shadow: 0 -7px 0 transparent inset, 0 7px 0 $wth1-aqua inset,
      -1px 0 0 $wth1-light-gray;
  }

  &:hover .item_title {
    text-decoration: underline;
  }
}

.carouselItem.selected {
  margin-top: 0;
  height: 150px;
  width: 220px;

  grid-template-columns: 4fr, 3fr;

  box-shadow: 0 -7px 0 transparent inset, 0 7px 0 $wth1-aqua inset,
    1px 0 0 $wth1-light-gray inset, -1px 0 0 $wth1-light-gray inset;

  &:hover {
    box-shadow: 0 -7px 0 transparent inset, 0 7px 0 $wth1-aqua inset,
      1px 0 0 $wth1-light-gray inset, -1px 0 0 $wth1-light-gray inset;
  }

  .item_description {
    align-items: flex-start;
    padding-right: 10px;
  }

  .itemDescription_text {
    grid-row: 2;
    grid-column: 2;
    padding-left: 15px;

    border-left: 1px solid black;
  }
}

.item_description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 2;
  align-items: center;
}

.itemDescription {
  width: 100%;
  max-width: 50px;
  display: grid;
  align-items: center;

  & img {
    width: 100%;
  }
}

.itemDescription_temperature {
  grid-column: 2 / -1;

  & * {
    display: grid;
    justify-content: end;
    align-items: center;
  }
}
